body{
  margin: 0;
  color:#fefefe;
}

.wrapper{
  background: linear-gradient(to left, #4b6cb7 , #182848);
  font-family: 'Roboto', sans-serif;
  border: none;
}

/** Navigation Bar Region**/
.navbar {
  color: white;
  display: flex;
  height:100px;
  width: 100%;
  align-items: flex-start;
  background: #4969b3;
  position: fixed;
  z-index: 1;
  top: 0;
}

.nav-logo{
  margin-left: 3%;
  width: 278px;
  height: 348px;
  box-shadow: -7px 7px 46px -9px rgba(0,0,0,0.75);

}

.nav-item{
  flex:1;
  display: flex;
}
.nav-item:last-child{
  justify-content: flex-end;
}

.nav-btn{
  font-size: 28px;
  height: 100px;
  margin-left: 5%;
  margin-right: 3%;
  color: white;
  align-items: stretch;
}
.nav-btn a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  width: 100%;
  height: 100%;
  background-color: #4969b3;
  display: flex;
  align-items: center;
  padding: 10px auto;
}

.nav-btn>a:hover {
  background-color: #2b3c63;
}

/** Movie Container Region**/
.container-movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba(255,255,255,0.05);
  margin-left:2%;
  margin-right:2%;
  margin-top: 5%;
  margin-bottom:10%;
  padding: 10px;
  border-radius: 5px;
}

.movie{
  color: #fefefe;
  width:150px;
  height:225px;
  background: #2574A9;
  text-align: center;
  font-size: 120px;
  font-weight: bold;
  margin: .8%;
  transition: all .2s ease-in-out;
}

.movie img{
  height: 100%;
  width: 100%;
}

.movie:hover {
  transform: scale(1.2);
  box-shadow: -7px 7px 46px -9px rgba(0,0,0,0.75);
}

/** Search Movie Container Region**/

.container-search{
  width: 80%;
  margin-left: 10%;
  margin-top: 12%;
  margin-right: 5%;
  margin-bottom: 12%;
  height: 400px;
  background: rgba(255,255,255,.3);
  border-radius: 25px;
}

.container-search-item{
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fefefe;
  font-size: 20px;
  margin: 30px;
}

.search-bar{
  width:80%;
  height:40px;
  font-size: 30px;
  color: black;
}

.heading{
  margin-left: 5% ;
  padding-top: 500px;
  font-size: 100px;
}
/*Checkout Container Region*/
.container-checkout {
  background-color: black;
  font-size: 100px;
  display: flex;
  justify-content: space-around;
}

.checkout-movie{
 color:#fefefe;
 border: 10px solid #999;
 margin: 1% 2%;
}

/** Modal Region**/
.modal-blocker {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
}

.modal-container {
    background-color: rgba(255,255,255,0.1);
    color:black;
    flex-wrap: wrap;
    margin: 10% auto;
    border-radius: 2px;
    width: 80%;
    display: flex;

}

.modal-container-image{
  width: 300px;
  height: 450px;
  /*border: solid blue;*/
  margin:  20px 5%;
  flex: 1;
}

.modal-container-image img{
  width:300px;
  height: 450px;
}

.modal-container-info{
  flex: 5;
  /*border: solid pink;*/
  padding: 1%;
  font-family: sans-serif;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #989898;
  color:white;
}

.modal-container-info-buttons{
  /*border: solid black;*/
  display: flex;
  justify-content: flex-end;
}

.btn{
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.2s;
}

.btn:active{
  box-shadow: 0 12px 16px 0 rgba(255,255,255,0.24);
  transform: translate(2px,5px);
}

.rent{
  background-color: #2574A9;
}

.back{
  background-color: rgba(0,0,0,.5);
}

.movie-title{
  font-size: 60px;
  text-transform: uppercase;
}

.imdbID {
  display:none;
}

.message {
  font-size: 80px;
}

.error{
  font-color: maroon;
}

.success{
  font-color: green;
}
